In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv("./Data/CSV_EX_1.csv")

In [7]:
df1

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [12]:
df2 = pd.read_csv("./Data/CSV_EX_2.csv", header=None)

In [15]:
df2 = pd.read_csv("./Data/CSV_EX_2.csv", header=None, names=["Bedroom","Sq. foot","Locality","Price ($)"])

In [16]:
df2

   Bedroom  Sq. foot    Locality  Price ($)
0        2      1500        Good     300000
1        3      1300        Fair     240000
2        3      1900   Very good     450000
3        3      1850         Bad     280000
4        2      1640        Good     310000